version: '3.8'

services:
  bgsnl-api:
    build: .
    container_name: bgsnl-api
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: 2G
        reservations:
          cpus: '0.1'
          memory: 1G
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 5s