name: CI/CD Pipeline for Docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Temporarily adjust ESLint config
        run: |
          echo '{
            "rules": {
              "constructor-super": "off"
            }
          }' > .eslintrc.json

      - name: Run lint checks
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t bgsnl-api .

      # REPLACE DOCKER IMAGE 

      # DELETE THE LAST VERSION OF THE APP